/*Generales*/
body, html {
	margin: 0;
	padding: 0;
}

body {
	background: #ddd;
	text-align: center;
}

/*Propiedades de las filas.*/
.columnas1,
.columnas2,
.columnas3,
.columnas4,
.columnas6,
.columnas12,
.auxIzquierda,
.auxDerecha {
	overflow: hidden;
	width: 100%;
}

/*Propiedades de las columnas*/
.columnas1>*,
.columnas2>*,
.columnas3>*,
.columnas4>*,
.columnas6>*,
.columnas12>*,
.auxIzquierda>*,
.auxDerecha>* {
	background: #999;
	box-sizing: border-box;
	float: left;
	font-size: 2em;
	margin: 0 2% 2% 0;
	padding: 0.5em;
}

/*Una Columna*/
.columnas1>* {
	margin-right: 0;
	width: 100%;
}

/*Dos Columnas*/
.columnas2>* {
	width: 49%;
}

.columnas2>*:last-child {
	margin-right: 0;
}

/*Tres Columnas*/
.columnas3>* {
	width: 32%;
}

.columnas3>*:last-child {
	margin-right: 0;
}

/*Cuatro Columnas*/
.columnas4>* {
	width: 23.5%;
}

.columnas4>*:last-child {
	margin-right: 0;
}

/*Seis Columnas*/
.columnas6>* {
	width: 15%;
}

.columnas6>*:last-child {
	margin-right: 0;
}

/*Doce Columnas*/
.columnas12>* {
	width: 6.5%;
}

.columnas12>*:last-child {
	margin-right: 0;
}

/*Columna Auxiliar a la Izquierda*/
.auxIzquierda>* {
	width: 75%;
}

.auxIzquierda>*:first-child {
	width: 23%;
}

.auxIzquierda>*:last-child {
	margin-right: 0;
}

/*Columna Auxiliar a la Derecha*/
.auxDerecha>* {
	width: 75%;
}

.auxDerecha>*:last-child {
	margin-right: 0;
	width: 23%;
}
